<% content_for :title do %>
  Meal Records &ndash; <%= DateTime.now.to_s(:nice_date) %>
<% end %>

<div class="columns is-centered mt-6">
  <% @entries.each do |entry| %>
    <div class="column is-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            <%= entry.meal_type %>
            <span class="tag ml-2 is-dark is-size-7"><%= entry.category.title if entry.category.present? %></span>
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <% if entry.calories %>
            <p><span class="has-text-weight-bold"><%= entry.calories %></span> calories</p>
            <% end %>
            <% if entry.proteins %>
            <p><span class="has-text-weight-bold"><%= entry.proteins %></span> g (proteins)</p>
            <% end %>
            <% if entry.carbohydrates %>
            <p><span class="has-text-weight-bold"><%= entry.carbohydrates %></span> g (carbohydrates)</p>
            <% end %>
            <% if entry.fats %>
            <p><span class="has-text-weight-bold"><%= entry.fats %></span> g (fat)</p>
            <% end %>
            <p class="is-size-7"><%= time_ago_in_words(entry.created_at) %> ago</p>
          </div>
        </div>

        <div class="card-footer">
          <%= link_to 'Show', entry, class: "card-footer-item" %>
          <%= link_to 'Edit', edit_entry_path(entry), class: "card-footer-item" %>
          <%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-footer-item" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="columns is-centered my-6">
  <%= link_to "View All Entries", archives_index_path, class: "button is-primary is-outlined" %>
</div>
