<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div class="message is-danger">
      <div class="message-header">
        <h2><%= pluralize(category.errors.count, "error") %> found</h2>
      </div>

      <div class="message-body">
        <ul>
          <% category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: "label" %>
    <%= form.text_field :title, class: "input" %>
  </div>

  <div class="actions">
    <%= form.submit class: "button is-primary mt-3" %>
  </div>
<% end %>
