<!DOCTYPE html>
<html>
  <head>
    <title>MealDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal Meal Log and Sharing App">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %> 
    <% if notice.present? %>
      <div class="notification is-link is-light animated fadeIn has-text-centered mb-0"><%= notice %></div>
    <% end %>
    <% if alert.present? %>
      <div class="notification is-link is-light animated fadeIn has-text-centered mb-0"><%= alert %></div>
    <% end %>
    
    <div class="container">
      <% unless current_page?(root_path) || current_page?(new_user_session_path) %>
      <%= link_to :back, class: "button my-3 is-small" do %>
        <span class="icon has-text-success mr-1">
          <i class="fas fa-arrow-circle-left"></i>
        </span>
        Back
      <% end %>
      <% end %>

      <div class="animated fadeIn">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
